
/* START: AUTO INCREMENT COLUMN
   The auto increment column contains the row number.
   It is important for finding erroneous rows since the error messages
   contain row numbers.*/

body.portaltype-ftw-redirector-redirectconfig.template-edit #formfield-form-widgets-rules table.datagridwidget-table-view thead tr::before {
  content: "";
  display: table-cell;
  background: none repeat scroll 0 0 #DDD;
}

body.portaltype-ftw-redirector-redirectconfig.template-edit #formfield-form-widgets-rules table.datagridwidget-table-view tbody tr:first-child {
  counter-reset: ruleNumber;
}

body.portaltype-ftw-redirector-redirectconfig.template-edit #formfield-form-widgets-rules table.datagridwidget-table-view tbody tr {
  counter-increment: ruleNumber;
}

body.portaltype-ftw-redirector-redirectconfig.template-edit #formfield-form-widgets-rules table.datagridwidget-table-view tbody tr::before {
  content: counter(ruleNumber);
  width: 1em;
  text-align: center;
  padding: 0 0.4em;
  display: table-cell;
  color: #888;
}


body.portaltype-ftw-redirector-redirectconfig.template-edit #formfield-form-widgets-rules table.datagridwidget-table-view tbody tr.auto-append::before {
  content: '+';
}

/* END: AUTO INCREMENT COLUMN */


/* Hide rules description from standard view; we only want it in edit */
body.template-view.portaltype-ftw-redirector-redirectconfig #formfield-form-widgets-rules .formHelp {
  display: none;
}
